.date {
  text-align: right; /* pushes the "2020 December 27" string to the right of content */
  margin-top: -14px; /* adjusts date string back up toward post title a bit */
  color: #707070; /* give the date string text a distinguishing color */
}