html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f5fbff;
  color: #000e17;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline !important;
}

/* image titles come in these containers, and we don't want to render them! */
div.meta {
  display: none;
}
/* make sure img components don't overflow the container */
a.lightbox img,
p img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
img.emoji {
  margin: 0;
  display: initial;
  height: 1em;
}
/* long words in the headers can overflow the container, so break them if it comes to that */
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}
